{% extends 'base.html' %}


{% block title %} | Nouvelle Demande {% endblock %}

{% block content%}

{% load crispy_forms_tags %}




  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> ACCUEILL</a>
          </li>
          <li class="breadcrumb-item active"> NOUVELLE DEMANDE</li>
        </ol>
      </nav>
    </div>
  </section>


    <body>
      <div class="jumbotron">
        <div class="container">

          <form method="post">
            <center> <h3>Veuillez renseigner les informations suivantes:</h3></center>
            <br>
            <hr>
            {% csrf_token %}
            <!-- {{forms|crispy}} -->
            <div class="row">
              <div class="col-6">
                {{ form.nom|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.prenom|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.adresse|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.ville|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.telephone|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.plainte|as_crispy_field }}
              </div>

              <div class="col-6">
                {{ form.autre|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.suggestion|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.secteur|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.ministere|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.service|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.message|as_crispy_field }}
                {{ form.media }}
              </div>


            </div>
            <button type="Submit" class="btn btn-success"><i class="fas fa-server"></i>Envoyer</button>
          </form>
        </div>
      </div>






    </body>

  <br>
  <br>



{% endblock %}
